.youtube-wrapper {
    display: inline-block;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Menambahkan margin sebesar 10px di semua sisi */
}



.img-thumb {
    width: 100%; /* Atur lebar menjadi 100% */
    height: 200px; /* Atur tinggi tetap atau sesuaikan sesuai kebutuhan */
    overflow: hidden;
    position: relative;
}

.img-thumb img {
    width: 100%;
    height: 100%; /* Pastikan gambar menempati tinggi penuh dari kontainer */
    object-fit: cover; /* Pertahankan rasio aspek dan tutupi seluruh kontainer */
}

p.time {
    position: absolute;
    color: white;
    bottom: 6px;
    right: 6px;
    margin: 0;
    background: black;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}

p.title {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0px;
    margin-top: 10px;
    color: #2d2d2d;
}
p.desc{
    font-size: 15px;
    font-weight: 200;
    color: #2d2d2d;
}
